header {
  background-color: #eebb44;
  margin-bottom: 40px;
}

.boxtop {
  width: 300px;
  height: 400px;
  border: 1px solid #DDDDDD;

}

.imgs {
  width: 100%;
}

.name {
  font-weight: 800;
  font-size: 18px;
  margin-left: 30px;
}

.details {
  margin-left: 30px;
}

.boxtop1 {

  border: 1px solid #DDDDDD;
  margin-bottom: 20px;

}
